# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Setuptools-related files
*.egg-info/
.eggs/
dist/
build/
*.egg

# Virtual Environment
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Package manager lock files
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled and log files
*.log

.vscode/*
testdata/*.ufo/